/API_Django/paper_search/app/static/app/NO_BERT_WVFT_256_155_600_full.pth
/API_Django/paper_search/app/static/app/images
/API_Django/paper_search/app/static/app/images/
/API_Django/paper_search/app/static/app/images/*

