# Ignore environment files
env/

# Ignore Python bytecode files
__pycache__/

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc

# Ignore any local settings files
local_settings.py
/paper_search/app/output.csv
/paper_search/app/static/app/images
/paper_search/app/NO_BERT_WVFT_256_155_600_full.pth 
